body {
	margin: 0;
  height: 250px;
  width: 300px;
	overflow: hidden;
  user-select: none;
}

canvas {
	background-image: radial-gradient(#666, #333);
}
#three-container{
  height: 250px;
  width: 300px;
}